#banner-wrapper {
  display: block;
  position: relative;
}
#banner-wrapper::before {
  content: '';
  position: absolute;
  inset: 0; /* make it strech to the size of #banner-wrapper (top,bottom,left,right 0) */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: saturate(60%) blur(2px); /* frosted glass effect  */
}
#banner-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  top: 50%; /* 50% of parent */
  transform: translateY(-50%); /* move up 50% of its own height */
  font-size: 2rem;
  font-weight: 700;
}
#video-banner, #image-banner {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  transform: none;
  vertical-align: top;
}
@media only screen and (min-width: 768px) {
  #banner-text {
  font-size: 3rem;
  }
}