#footer-wrapper{
  background-color: var(--secondary-color);
  padding: 3.5rem 1rem;
  text-align: center;
  line-height: 2rem;
}
.footer-header{
  font-weight: 700;
}
#subscribeInput{
  margin: 1rem 0;
}
#join-btn, #user-email{
  border-radius: 50px;
}
#user-email{
  min-width: 250px;
  border: 1px solid var(--secondary-color);
  padding: 0.75rem 1rem;
}
#user-email:focus{
  outline: none;
  border-color: var(--primary-color);
}
#join-btn{
  border: 1px solid var(--primary-color);
  padding: 0.75rem 1.25rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
#join-btn:hover{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
