#footer-wrapper{
  background-color: var(--secondary-color);
  padding: 32px 16px;
  text-align: center;
  line-height: 24px;
}
.footer-header{
  font-weight: 700;
}
#user-email{
  min-width: 250px;
  border: 1px solid var(--secondary-color);
  border-radius: 50px;
  padding: 12px 16px;
  
}
#user-email:focus{
  outline: none;
  border-color: var(--primary-color);
}
#join-btn{
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#join-btn:hover{
  background-color: var(--secondary-color);
  color: var(--text-color);
}
