:root {
  --primary-color: #272829;
  --secondary-color: #f1f1f1;
  --button-hover: #f1f1f18a;
  --input-color: #fafafb;
  --background-color: #557A46;
}

html {
  font-family: 'DM Sans', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--primary-color);
}
ul {
  padding: 0;
}

h1, ul, p {
  margin: 0;
}