:root {
  --primary-color: #272829;
  --secondary-color: #f1f1f1;
  --button-hover: #f1f1f18a;
  --input-color: #fafafb;
}

html {
  font-family: Helvetica, 'Helvetica Neue', Arial, 'Roboto', sans-serif;
  font-size: 16px;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--primary-color);
}
ul {
  padding: 0;
}

h1, ul {
  margin: 0;
}