:root {
  --primary-color: #272829;
  --secondary-color: #f1f1f1;
  --button-hover: #f1f1f18a;
  --input-color: #fafafb;
  --background-color: #557a46;
  --invalid-color: #ef9f9f;
  --invalid-input-color: #fff2f2;
  --valid-color: #56b3ad;
  --valid-input-color: #eef6f2;
}

html {
  font-family: 'DM Sans', 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: var(--primary-color);
}
ul {
  padding: 0;
}

h1,
ul,
p {
  margin: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
