#banner-wrapper {
  display: block;
  position: relative;
}
#banner-wrapper::before {
  content: '';
  /*  */
  position: absolute;
  inset: 0; /* make it strech to the size of #banner-wrapper (top,bottom,left,right 0) */
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.35);
  backdrop-filter: saturate(60%) blur(2px); /* frosted glass effect  */
}
#banner-text {
  position: absolute;
  z-index: 2;
  width: 100%;
  color: var(--secondary-color);
  text-align: center;
  top: 50%; /* 50% of parent */
  transform: translateY(-50%); /* move up 50% of its own height */
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
}
#video-banner {
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  transform: none;
  vertical-align: top;
}
#intro-section {
  display: block;
  text-align: center;
  padding: 3rem;
}
#intro-header,
#story-header {
  font-size: 1.5rem;
}
#intro-body {
  padding: 1.5rem 1rem 0 1rem;
  max-width: 640px;
  margin: 0 auto;
}
#products-carousel {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none; /* Hide the scrollbar for MS Edge */
  scrollbar-width: none; /* Hide the scrollbar for Mozilla Firefox */
  margin: 0 auto 2rem auto;
  width: 90vw;
  height: fit-content;
}
#carousel::-webkit-scrollbar {
  display: none; /* Hide the scrollbar on Webkit based browsers (Chrome, Safari, etc) */
  -webkit-overflow-scrolling: touch; /* On touch screens the content continues to scroll for a while after finishing the scroll gesture */
}
.product-item {
  weight: 280px;
  height: 280px;
  margin: 1rem;
  border-radius: 0.5rem;
}
#story-wrapper {
  display: block;
  background-color: var(--background-color);
  color: var(--secondary-color);
  text-align: center;
}
#story-video {
  width: 560px;
  max-width: 100%;
  aspect-ratio: 560 / 315;
  vertical-align: top;
}
#story {
  padding: 2rem 1.5rem;
  margin: auto;
}
#story-body {
  padding-top: 1.5rem;
  max-width: 480px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  #story-wrapper{
    display: flex;
  }
  #story-video {
    width: 720px;
  }

}