#logo-wrapper {
  text-align: center;
}
#logo-link {
  display: inline-block;
}
#logo {
  width: 100px;
  height: 100px;
  vertical-align: top;
}
#header-menu {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 500;
  padding: 0.75rem;
}
#header-menu .menu-list {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem; /* increase gap when screen is larger */
}
#header-menu .menu-item {
  list-style-type: none;
}
#header-menu .menu-link {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.5rem 1rem;
}
#header-menu .menu-link:hover {
  border-color: var(--button-hover);
  background-color: var(--button-hover);
}
