.input-form {
  max-width: 640px;
  padding: 1rem 1rem 3.5rem 1rem;
  margin: auto;
}

#shipping-form,
#payment-form {
  border: none;
  padding: 1rem 0;
}
.form-legend,
#cart-header {
  font-size: 18px;
  font-weight: 500;
}
.input-field {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 1rem 0;
}
.label-item {
  width: 100px;
  text-align: right;
}
.input-item {
  flex: 1;
  border: 1px solid var(--secondary-color);
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  outline: none;
  background-color: var(--input-color);
}
.input-item:focus {
  border-color: var(--primary-color);
}
/* rscss */
.input-item.-size-s {
  max-width: 88px;
}
.input-item.-size-m {
  max-width: 160px;
}
#formSubmit-btn {
  display: block;
  margin: 0.5rem auto;
  border: 1px solid var(--primary-color);
  border-radius: 50px;
  padding: 0.75rem 3.25rem;
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
#formSubmit-btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
