#products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}
.product-item {
  text-align: center;
  padding: 1.5rem 0;
}
.product-image {
  width: 320px;
  height: 320px;
  border-radius: 0.5rem;
}
.product-info {
  padding: 1.5rem 0;
  text-align: left;
}
.product-name {
  font-size: 2rem;
  font-weight: 300;
}
.product-price {
  font-size: 1.5rem;
  padding: 0.5rem 0;
}
.product-detail {
  padding: 1rem 0;
}
.input-wrapper {
  display: flex;
  column-gap: 0.5em;
  margin: 1rem 0;
}

.product-quantity,
.add-to-cart-btn,
.buy-now-btn {
  border-radius: 50px;
  padding: 0.75rem 1rem;
}
.product-quantity {
  max-width: 5rem;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  outline: none;
}

.add-to-cart-btn,
.buy-now-btn {
  border: 1px solid var(--primary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}
.add-to-cart-btn:hover,
.buy-now-btn:hover {
  background-color: var(--secondary-color);
  color: var(--text-color);
}
@media only screen and (min-width: 768px) {
  .product-item {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
  }
  .product-image {
    align-items: center;
  }
  .product-info {
    padding: 0;
  }
  .input-wrapper {
    margin: 1rem 0;
  }
}
