.table-wrapper {
  max-width: 640px;
  margin: 0 auto;
  padding: 2.5rem 1rem 2rem 1rem;
}
#order-summary {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}
.col-name {
  width: 34%;
}
.col-img,
.col-quantity,
.col-total {
  width: 22%;
}
.order-table-header {
  /* display: none; */
}
.table-header {
  font-weight: 500;
  height: 4rem;
}
.table-header,
.table-detail {
  text-align: left;
  vertical-align: middle;
  border-bottom: 1px solid var(--secondary-color);
  padding: 1rem 0.5rem;
}
.product-image {
  width: 5rem;
  height: 5rem;
  border-radius: 0.5rem;
}
.remove-btn {
  display: block;
  font-size: 12px;
  border-radius: 50px;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
  outline: none;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.cart-empty {
  padding: 4rem 0;
}
.cart-empty-link {
  color: var(--primary-color);
  text-decoration: underline;
  border: 1px solid transparent;
  border-radius: 50px;
  padding: 0.5rem;
}
.cart-empty-link:hover {
  border-color: var(--button-hover);
  background-color: var(--button-hover);
}
@media only screen and (min-width: 768px) {
  .product-image {
    width: 10rem;
    height: 10rem;
  }
}
